<header>
    <nav>
        <a href="/">FoodApp</a>
        <ul>
            <li><a href="/dishes">Look at all the food</a></li>
            <li><a href="/dishes/new">Add recipe</a></li>
        </ul>
    </nav>
</header>