<!-- 7:53 https://www.youtube.com/watch?v=Zi2UwhpooF8&list=PLZlA0Gpn_vH8jbFkBjOuFjhxANC63OmXM&index=7&ab_channel=WebDevSimplified -->
<label for="Dish name: "></label>
<div>
    <input type="text" name="dishName", value="<%= dishesColl.dishName %>">
</div>
<div>
    <label>Image</label>
    <input type="file" name="dishImage">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= dishesColl.description %></textarea>
</div>