<!-- 7:53 https://www.youtube.com/watch?v=Zi2UwhpooF8&list=PLZlA0Gpn_vH8jbFkBjOuFjhxANC63OmXM&index=7&ab_channel=WebDevSimplified -->
<form action="/dishes" method="POST">
    <%- include('_form_fields') %>
    <a href="/dishes">Cancel</a>
    <button type="submit">Submit</button>
</form>