<form action="/dishes" method="POST" enctype="multipart/form-data">
    <h2>Add dish</h2>
    <%- include('_form_fields') %>
    <a href="/dishes">Cancel</a>
    <button type="submit">Submit</button>
</form>